<html>

<body>
    <h1>Bad Todo List</h1>

    <form method="GET">
        <input type="text" name="todo" placeholder="todoに完全一致で検索" value="">
        <button type="submit">検索</button>
    </form>

    <table>
        <tr>
            <td>ID</td>
            <td>todo</td>
            <td>登録日</td>
            <td>期限</td>
        </tr>
        {% for todo in todos %}
        <tr>
            <td>{{ todo.id_str }}</td>
            <td>{{ todo.todo }}</td>
            <td>{{ todo.created_date|date:"Y年n月j日" }}</td>
            <td>{{ todo.due_date }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>